<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial scale=1">
	<link rel="stylesheet" href="/nav.css">
	<link rel="stylesheet" href="/index.css">
	<style type="text/css">
		  #rooms-sortable .ui-selected { background-color: #333; }
		  #rooms-sortable .ui-selected a { color: #FFF; }
	</style>
	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script src="home.js"></script>
	<script src="nav.js"></script>
</head>
<body>
	<ul class="nav">
		<li	id="active"><a id="homeBtn" href='/api/chat'>Home</a></li>
		<li			   ><a id="roomsBtn" href='/api/rooms'>Chat Rooms</a></li>
		<li 		   ><a id="usersBtn" href='/api/users'>Users</a></li>
		<li><a id="logoutBtn" onclick="logoutUser()">Logout</a></li>
	</ul>
	<div id="chat-room">
		<div id="rooms">
		<h2>Rooms</h2>
			<ul id="rooms-sortable">
			<!-- Get Rooms-List from database -->
			</ul>
		</div>


		<form id="chat-area">
			<textarea id="chat-textarea" readonly=""></textarea>
			<button id="delete-messages-button" type="submit">Delete All Messages</button>
		</form>
	</div>


	<div id="post-area">
		<div id="empty"></div>
		<div id="post-area-right">
			<h2>Post A Message</h2>
			<!--form id="message-form"-->
				<textarea id="post-messages-area" rows="5" placeholder="Type your message!" required="true"></textarea>
				<button id="postMsgButton">Post</button>
			<!--/form-->
		</div>
	</div>


	<script type="text/javascript">
		$( function () {
			$("#rooms-sortable").selectable({
				selecting: function(event, ui){
					if ($(".ui-selected, .ui-selecting" ).length > 1){
						$(ui.selecting).removeClass("ui-selecting");
					}
				}
			});
		});
	</script>
</body>
</html>
