<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Sign-Up/Login Form</title>

  <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,300,600' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

  <link rel="stylesheet" href="/login.css">


</head>

<body>
  <div class="form">

      <ul class="tab-group">
        <li class="tab" id="signuptab"><a href="#signup">Sign Up</a></li>
        <li class="tab active" id="logintab"><a href="#login">Log In</a></li>
      </ul>

      <div class="tab-content">

		<div id="login">
          <h1>Welcome Back!</h1>

          <!--form action="/login" method="get"-->

            <div class="field-wrap">
                <input id="uname" type="text" placeholder="Username" required autocomplete="on"/>
            </div>

            <div class="field-wrap">
                <input id="pwd" type="password" placeholder="Password" required autocomplete="on"/>
            </div>

          <!--<button class="button button-block"/>Log In</button>-->
            <!--input type="submit" value="Check In" name="Submit"-->
          <input type="button" value="Login" id="loginBtn">
          <!--/form-->

        </div>

        <div id="signup">
          <h1>Sign Up</h1>

          <!--form action="/login" method="post"-->

            <div class="field-wrap">
              <input id="newname" type="text" placeholder="Username" required autocomplete="off" />
            </div>

            <div class="field-wrap">
              <input id="newmail" type="email" placeholder="Email Adress" required autocomplete="off"/>
            </div>

            <div class="field-wrap">
              <input id="newpwd" type="password" placeholder="Password" required autocomplete="off"/>
            </div>

          <!--button type="submit" class="button button-block"/>Start Chatting</button-->
            <input type="button" value="Sign Up" id="createBtn">
          <!--/form-->

        </div>



      </div><!-- tab-content -->

</div> <!-- /form -->
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/components/core-min.js"></script>
  <script src="crypt.js"></script>
  <script src="login.js"></script>

</body>
</html>
