<!DOCTYPE html>
<html>
<head>
	<title>Users</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial scale=1">
	<link rel="stylesheet" href="nav.css">
	<link rel="stylesheet" href="newroom.css">
</head>
<body>
	<ul class="nav">
		<li><a href="index.html">Home</a></li>
		<li  id="active"><a href="rooms.html">Chat Rooms</a></li>
		<li><a href="users.html">Users</a></li>
	</ul>

	
	<h2>Create a new Chat Room</h2>
	<div id="input">
		<h4>Name:</h4>

		<input id="room-name" type="text" placeholder="Type your Room Name">
		<p>Give your chat room a meaningful name for people to refer to it.</p>
	</div>
	<button id="create-room">Create a new Chat Room</button>
	<button id="cancel" onclick="window.location.href='rooms.html'">Cancel</button>
</body>
</html>