<!DOCTYPE html>
<html>
<head>
	<title>Users</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial scale=1">
	<link rel="stylesheet" href="nav.css">
	<link rel="stylesheet" href="rooms.css">
</head>
<body>
	<ul class="nav">
		<li><a href="index.html">Home</a></li>
		<li  id="active"><a href="rooms.html">Chat Rooms</a></li>
		<li><a href="users.html">Users</a></li>
	</ul>

	<h2>Chat Rooms</h2>
	<button id="create-room" onclick="window.location.href='newroom.html'">Create a new Chat Room</button>
	
	
	<div class="col-names">
		<h4>Name</h4>
		<h4>Id</h4>
	</div>
</body>
</html>