<!DOCTYPE html>
<html>
<head>
	<title>Users</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial scale=1">
	<link rel="stylesheet" href="nav.css">
	<link rel="stylesheet" href="rooms.css">
	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script src="nav.js"></script>
</head>
<body>
	<ul class="nav">
		<li			   ><a id="homeBtn" href='/api/chat'>Home</a></li>
		<li	id="active"><a id="roomsBtn" href='/api/rooms'>Chat Rooms</a></li>
		<li 		   ><a id="usersBtn" href='/api/users'>Users</a></li>
		<li><a id="logoutBtn" onclick="logoutUser()">Logout</a></li>
	</ul>

	<h2>Chat Rooms</h2>
	<textarea id="newRoomName" placeholder="Input room name" required="true"></textarea>
	<button id="createRoomBtn">Create a new Chat Room</button>


	<div class="col-names">
		<h4>Name</h4>
		<h4>Id</h4>
	</div>
	<script src="home.js"></script>
</body>
</html>
