<!DOCTYPE html>
<html>
<head>
	<title>Users</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial scale=1">
	<link rel="stylesheet" href="nav.css">
	<link rel="stylesheet" href="users.css">
</head>
<body>
	<ul class="nav">
		<li><a id="homeBtn" href='/api/chat'>Home</a></li>
		<li><a id="roomsBtn" href='/api/rooms'>Chat Rooms</a></li>
		<li id="active" href='/api/users'><a id="usersBtn">Users</a></li>
		<li><a id="logoutBtn" onclick="logoutUser()">Logout</a></li>
	</ul>

	<h2>Users</h2>
	<div id="search-users-container">
		<h4>Alias</h4>
		<input id="search-users" type="text" placeholder="search for users">

		<div id="search-buttons">
			<button>Search</button>
			<button>Create a new user</button>
		</div>
	</div>
	<div class="col-names">
		<h4>Alias</h4>
		<h4>Roles</h4>
		<h4>City</h4>
		<h4>State</h4>
	</div>

	<script src="nav.js"></script>
</body>
</html>
